
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
ul, ol{margin: 0; padding-left: 0;}

:root{
--white-color: #FFFFFF;
}
body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 1440px;
    height: 2593px;
background: var(--white-color);
}
.list{
    list-style: none;
    
}
.link{
    text-decoration: none;
}
.header-nav:hover{
    color: #4D5AE5;
}
.header-nav:focus{
color: #4D5AE5;
}
.header {padding-bottom: 24px; padding-top: 24px;}
.header-main {
    display: flex;
}
.logo-link {
}
.logo-left {
width: 44px;
height: 24px;
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
flex: none;
order: 0;
flex-grow: 0;
}
.logo-rigrt {
    width: 71px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.header-idlink {
    display: flex;
    align-items: center;
    margin-left: 148px;
    gap: 40px;
    
}
.header .conteiner{
    display: flex;
}
.header-nav {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

}
.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
}
.header-tel {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-tel:hover{
color: #4D5AE5;
}
.header-mail {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-mail:hover{
color: #4D5AE5;    
}
.main {
}
.main-head {
    background: #2E2F42;
    height: 603px;
}
.main-head-text {
font-weight: 500;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-color);
width: 492px;
position: absolute;
width: 492px;
height: 120px;
left: 474px;
top: 264px;

}
.main-head-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    
    position: absolute;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    background: #4D5AE5;
    color: var(--white-color);
}
.main-head-btn:hover{
    background-color: #404BBF;;
}
.main-btn-txt{
    font-family: 'Roboto', sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:var(--white-color);
cursor: pointer;
}

.fourblocks {padding-top: 120px; 
}
.fourblocks-list{
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}

.fourblocks-head {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.fourblocks-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}
.fourblocks-blok1 {
}
.fourblocks-blok2 {
    
}
.fourblocks-blok3 {
}
.fourblocks-blok4 {
}
.about {padding-top: 120px; padding-bottom: 120;
}
.about-head {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.about-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}
.about-img1 {
}
.about-img2 {
}
.about-img3 {
}
.team {margin-top: 120px; padding-bottom: 120;
    background: #F4F4FD;
    padding-bottom: 120px;
}

.team-head {
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
padding-top: 120px;
}
.team-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
    
}

.team-img {
    width: 264px;
height: 380px;
background-color: #fff;
}
.team-foto {

}
.team-img-head {
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 32px;
}
.team-img-txt {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
}
.footer {padding-bottom: 24px; padding-top: 24px;
    height: 310px;
    background: #2E2F42;
}
.footer-txt {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
max-width: 264px;
margin-top: 18px;

}
.footer-logo-left{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-top: 100px;
}
.footer-logo-right{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.portfolio-btn{

    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
    margin: 0 auto;
    flex-direction: row;
}
.main-prtf-btn{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
border-radius: 4px;
height: 48px;
padding: 8px 16px;

}

.main-prtf-btn:hover{
    background-color: #4D5AE5;
    color: var(--white-color);
    height: 48px;
}
.prtf-list1,
.prtf-list2,
.prtf-list3{

}
.prtf-img{
    

}
.main-prtf-head{
font-weight: 600;
font-size: 20px;
line-height: calc(24 / 20);
letter-spacing: 0.02em;
color: #2E2F42;
padding-top: 32px;
padding-left: 16px;
}
.main-prtf-txt{
font-size: 16px;
line-height: calc(20/16);
letter-spacing: 0.02em;
color: #434455;
margin-top: 8px;
margin-bottom: 32px;
padding-left: 16px;
}
.conteiner{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
   
    margin: 0 auto;
}
.conteiner .list{
  
}
.fucking-foto .list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;
}